/* import Dosis regular (400), semibold (600), bold (700), and extrabold (800) */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700;800&display=swap');

body {
  background-color: #F4FFFD;
  margin: 0;
  font-family: Dosis, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
